<ul>
{% for event in site.data.events %}

{% capture nowunix %}{{site.time| date: '%s'}}{% endcapture %}
{% capture addedtime %}{{event.added | date: '%s'}}{% endcapture %}
{% capture dateofevent %}{{event.from | date: '%s'}}{% endcapture %}
{% assign nowunix = nowunix | plus: 0 %}
{% assign dateofevent = dateofevent | plus: 0 %}
{% assign addedtime = addedtime | plus: 0 %}
{% assign inonemonth = nowunix | plus: 60*60*24*30 %}

  <li {% if dateofevent < nowunix %}style="text-decoration:line-through;"{% endif %}>
      <a href="/professionals/">
        {{ event.name }} {% if event.part %}part {{event.part}}{% endif %}
      </a>

    {% if event.added and addedtime < inonemonth %}
        (NEW DATE!)
    {% endif %}

    <br>
      {% if event.to %}
        {{event.from|date: '%-d %B'}} to {{event.to|date: '%-d %B, %Y'}}
        {% else %}
        on {{event.from|date: '%-d %B, %Y'}}
      {% endif %}
      <div style="float:right;"><small>{{ event.location }}
      </small></div>
    </a>

  </li>
{% endfor %}
</ul>
