<h2>Registration</h2>

<p>To register for this event, please enter your details below:</p>






<form class="form"action="https://getsimpleform.com/messages?form_api_token=22a5db8bff699d1519c743389ccfb03e" method="post" >

<input type="hidden" name="redirect_to" value="http://www.radicallyopen.net/thanks.html" />


<input type="hidden" name="event"  value="{{page.title}}"/>
<p>Event: <a href="#">{{page.title}}</a>
</p>

<p><label>Your name:</label>
    <input type="text" name="name">
</p>

<p>Email:
    <input type="email" name="email">
</p>

<p>Mobile or work telephone:
    <input type="phone" name="phone">
</p>

<p>Occupation/role:
    <input type="text" name="role">
</p>

<p><label>Invoice address:</label> <br>
    <textarea name="invoiceaddress" style="width:80%"></textarea>
</p>


<p>How did you hear about us?</p>

	<ul style="list-style: none;">
		<li class="plain"><input type="radio" name="source" value="Web search">Web search</li>
		<li class="plain"><input type="radio" name="source" value="Word of mouth">Word of mouth</li>
		<li class="plain"><input type="radio" name="source" value="Email promotion">Email promotion</li>
		<li class="plain"><input type="radio" name="source" value="Other">Other</li>
	</ul>


<p><label>Do you have any food preferences or allergies?</label> <br>
    <textarea rows=2 name="food" style="width:80%"></textarea>
</p>
    <input id="submit" type="submit" value="Send">
</form>

<hr>
<p>An invoice (with payment instructions) will be sent to you when we receive your completed registration. Once we receive full payment you will be sent an invitation to a dedicated on-line support and training website requiring further personal details and information about your training and background. You will also be able to access the pre-course reading materials, including a copy of the research treatment manual.</p>



