{% capture nowunix %}{{site.time| date: '%s'}}{% endcapture %}
{% assign nowunix = nowunix | plus: 0 %}

<ul>
  {% for part in parts %}
  {% capture dateofpart %}{{part.from | date: '%s'}}{% endcapture %}
  {% assign dateofpart = dateofpart | plus: 0 %}
    <li class="{% if nowunix > dateofpart %}strike{% endif %}">
  {% if part.to %}
    <time itemprop="startDate" datetime="{{part.from|date: '%FT%R'}}">{{part.from|date: '%-d %B'}}</time>
      to
    <time itemprop="startDate" datetime="{{part.to|date: '%FT%R'}}">{{part.to|date: '%-d %B, %Y'}}</time>
    {% if forloop.le[ngth > 1 %}(part {{forloop.index}}){% endif %}
    {% else %}
    <time itemprop="startDate" datetime="{{part.from|date: '%FT%R'}}">{{part.from|date: '%-d %B, %Y'}}</time>
  {% endif %}
</li>
{% endfor %}

</ul>
